@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif, Arial;
    font-size: 20px;
}

.layout-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 415px) {
   .container {
       
        .first-column {
            height: 50vh;
        }
   }
}