@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Rajdhani|Yanone+Kaffeesatz');

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #292826;

  .nav-container {
    position: relative;
    margin: 5vh;
  }

  .para-container{
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    
    p {
      padding: 0 100px 0 100px;
    }
  
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;

    .svg-container {
      text-align: center;
    }

    .title-container {
      color: #FFFFFF;
    }
  }
}

@media (max-width: 1200px) {
  .chibi {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .chibi {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .chibi {
    visibility: hidden;
  }
  .title {
    visibility: hidden;
  }
}

@media (max-height: 850px) {
  p {
    padding: 0;
    font-size: 80%;
  }
}

@media (max-height: 700px) {
  p {
    font-size: 70%;
  }
}

@media (max-height: 600px) {
  p {
    font-size: 55%;
  }
}