.nav-container {
    display: flex;
    justify-content: center;
    margin: 0;  
    width: 100%;

    .nav-list {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: auto;

      li a {
        color: white;
        text-decoration: none;
      }

      .navUpperslashPosition {
        color: #FFFFFF;
      }


  }
}

.active-nav-item {
  font-weight: bold;
}


li {
  margin: 0 10px;
}

@media (min-width: 800px) {
  .underbar{
  
    width: 0;
    height: 5px;
    background: rgba(100,100,200,0);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 25px;
    width: 0px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  
  li{

    &:nth-of-type(1):hover ~ .underbar{
      left: -325px;
      width: 45px;
      background: rgba(100,100,200,1);
    }
    &:nth-of-type(3):hover ~ .underbar{
      left: -144px;
      width: 50px;
      background: rgba(100,100,200,1);
    }
    &:nth-of-type(5):hover ~ .underbar{
      left: 70px;
      width: 75px;
      background: rgba(100,100,200,1);
    }
    &:nth-of-type(7):hover ~ .underbar{
      left: 300px;
      width: 70px;
      background: rgba(100,100,200,1);
    }
    cursor: pointer;
  }
}

@media (max-width: 450px) {
  .nav-container {
    margin: -20px auto;
  } 
}