.container {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .first-column {
        min-width: 50%;
        background: #292826;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            position: relative;
            top: 40vh;
            color: #FFFFFF;
        }

        .nav-container {
            position: relative;
            top: 85vh;
        }
    }

    .second-column {
        .project-container {
            padding: 20px 20px 20px 20px;

            .italic {
                color: #DCDCDC;
            }

            p {
                text-align: justify;
                padding: 5px 0 10px 0;
            }

            .link {
               text-decoration: none;
               color: goldenrod; 
            }
        }
    }
}

@media (max-width: 816px){

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .first-column {
            display: flex;
            min-height: 100vh;

            .title {
                position: relative;
                top: 40vh;
            }
    
            .nav-container {
                position: relative;
                top: 85vh;
            }
        }

        .second-column {
            min-height: 100vh;

            .project-container {

                p {
                    text-align: justify;
                    padding: 5px 0 10px 0;
                }
            }

            .positionTitle {
                font-size: 25px;
            }
        }
    }
}


@media (max-width: 415px) {
    .container {
        
         .first-column {
            min-height: 50vh;

            .title {
                top: 17vh;
            }

            .nav-container {
                top: 30vh;
            }
         }
    }
 }